{{ define "main" }}

<h1 class="page-title">Most Recent</h1>
<main class="list">
	{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
	{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
	{{ range $paginator.Pages }}
	<section class="list-item">
		<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
		<time class="datefont">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
		<br>{{ template "partials/pagedescription.html" . }}
		<a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
	</section>
	{{ end }}
	{{ template "partials/paginator.html" . }}
</main>
  
</div>


<h1 class="page-title">All Articles</h1>
<ul class="posts">
	{{- range .Data.Pages -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<li class="post">
			<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
		</li>
		{{- end -}}
	{{- end -}}
</ul>

<h1 class="page-title">All Tags</h1>
<div class="container-tagcloud">
    {{ if ne (len $.Site.Taxonomies.tags) 0 }}
      {{ $largestFontSize := 1.4 }}
      {{ $smallestFontSize := 1.0 }}
      {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
      {{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
      {{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
      {{ $spread := sub $max $min }}
      {{ $fontStep := div $fontSpread $spread }}
        {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
          {{ $tagCount := len $taxonomy.Pages }}
          {{ $currentFontSize := (add $smallestFontSize (mul (sub $tagCount $min) $fontStep) ) }}
          {{ $weigth := div (sub (math.Log $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
          {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth)) }}
            <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}" 
            class="tagcloud-item" style="font-size: {{ $currentFontSize }}rem;">
              {{ $name }}<sup>{{ $tagCount }}</sup>
            </a>
        {{ end }}
    {{ end }}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="{{ "search.js" | absURL }}"></script>
<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  
</section>
<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>

<div class="my-auto" >
  <form action="{{ "search" | absURL }}">
    <input id="search-query" name="s"/>
  </form>
  <div id="search-results">
   <h3>Matching pages</h3>
  </div>
</div>

{{ end }}