{{ define "main" }}

<h1 class="page-title">Most Recent</h1>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections}}
{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true)}} {{ range $paginator.Pages }}

{{.Title}}
 {{ dateFormat "Jan 2, 2006" .Date}} {{ if .Draft}} DRAFT {{ end }}
 {{ if isset .Params "description" }} {{ .Description }} {{ else }} {{ .Summary }}... {{ end}}
 Read more ⟶ {{ end }} {{ template "partials/paginator.html" . }}

 <h1 class="page-title">All Articles</h1>
    {{- range .Data.Pages -}} {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
    {{.Title}} {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} DRAFT {{ end }} {{- end -}}

	<h1 class="page-title">All Tags</h1>

	
	
{{ end }}