<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				<div class="homepage">
					<img class="logo" src="watermark.png" alt="The Quickly How Tutorials Logo">
					<p class="homepagetext1">Hi! I write <a href="https://qhtutorials.github.io/posts/">tutorials</a> for software documentation, format screenshots for <a href="https://qhtutorials.github.io/slides/">slideshows</a> and <a href="https://qhtutorials.github.io/pdfs/">PDFs</a>, and edit <a href="https://qhtutorials.github.io/videos/">video</a> tutorials.</p>
				    <p class="homepagetext"2>If you need help creating documentation, send me an email at <a href="mailto:qhtutorials@gmail.com">qhtutorials@gmail.com</a></p>
				</div>
				{{.Content}}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>