<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				<div class="hometable">
					<table class="hompeagetable">
						<tr>
							<th><a href="https://qhtutorials.github.io/posts/"><img src="https://www.svgrepo.com/show/513175/book-closed.svg" alt="A book icon"></a></th>
							<th><a href="https://qhtutorials.github.io/videos/"><img src="https://www.svgrepo.com/show/478737/video-playback-mark.svg" alt="A video icon"></a></th>
						</tr>
						<tr>
							<td><a href="https://qhtutorials.github.io/slides/"><img src="https://www.svgrepo.com/show/347456/slideshow-3.svg" alt="A slideshow icon"></a></td>
							<td><a href="https://qhtutorials.github.io/pdfs/"><img src="https://www.svgrepo.com/show/478188/pdf.svg" alt="A PDF icon"></a></td>
						</tr>
					</table>
				</div>
				{{.Content}}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>